@using LMSEarlyBird.Data;
@using LMSEarlyBird.Interfaces;
@using LMSEarlyBird.Models;
@using LMSEarlyBird.Repository;
@using LMSEarlyBird.ViewModels;
@using Microsoft.AspNetCore.Mvc;
@using Microsoft.Extensions.Caching.Memory;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LMSEarlyBird</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/LMSEarlyBird.styles.css" asp-append-version="true" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body class="mb-5">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">LMS Early Bird</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">

                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a asp-area="" asp-controller="User" asp-action="Dashboard"><img class="w-50" src="~/images/HomeIcon.png" /></a>
                            </li>
                            <li class="nav-item">
                                <a asp-area="" asp-controller="ProfilePicture" asp-action="ProfilePicture">
                                    @{
                                        var userId = User.GetUserId();
                                    }
                                    <img class="ProfilePicture"
                                         src="~/images/ProfilePictures/@(userId)ProfilePicture.jpg"
                                         onerror="this.src='/images/ProfilePictures/DefaultProfile.png';"
                                         asp-append-version="true" />
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Calendar">Calendar</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Profile" asp-action="DisplayProfile">Profile</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Chart">Pie Chart</a>
                            </li>

                            @if (User.IsInRole(LMSEarlyBird.Data.UserRoles.Student))
                            {



                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Student" asp-action="Registration">Register</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Payment" asp-action="PaymentPage">Make Payment</a>
                                </li>

                                

                                bool notified = false;

                                //var assignments = AssignmentsRepository.GetStudentAssignments(User.GetUserId());

                                
                                
                                @* public class AssignmentsRepository: IAssignmentsRepository
                                {
                                    public async Task<List<Assignment>> GetStudentAssignments(string userId)
                                    {
                                        var assignments = new List<Assignment>();
                                        return assignments;
                                    }
                                } *@

                                @* public static async Task<List<StudentAssignment>> GetStudentAssignments(string studentId)
                                {
                                    var user = await _context.AppUsers
                                    .Include(x => x.StudentAssignment)
                                    .ThenInclude(sa => sa.Assignment)
                                    .FirstAsync(x => x.Id == studentId);

                                    return user.StudentAssignment;
                                } *@

                                //private readonly ApplicationDbContext _context;

                                @* var options = new DbContextOptionsBuilder<ApplicationDbContext>()
                                    .UseSqlServer("your_connection_string")
                                    .Options; *@

                                //ApplicationDbContext context = new ApplicationDbContext();

                                //private readonly IAssignmentsRepository _assignmentsRepository;
                                //AssignmentsRepository assignmentsRepository = new AssignmentsRepository(context);

                                //var assignmentsRepository = new AssignmentsRepository(); // Instantiate the object
                                //var studentAssignments = await assignmentsRepository.GetStudentAssignments(userId);



                                //var studentAssignment = await AssignmentsRepository.GetStudentAssignments(userid);


                                if (Model != null)
                                {
                                    foreach (var assignment in Model.StudentAssignment)
                                    {
                                        if (assignment.GradedNotification)
                                        {
                                            notified = true;
                                        }
                                        if (assignment.CreatedNotification)
                                        {
                                            notified = true;
                                        }
                                    }
                                    if (notified)
                                    {
                                        <li class="nav-item ml-auto mr-5">
                                            <a asp-area="" asp-controller="User" asp-action="Dashboard"><img style="width: 50px;" src="~/images/BellNotificationIcon.png" /></a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="nav-item ml-auto mr-5">
                                            <a asp-area="" asp-controller="User" asp-action="Dashboard"><img style="width: 30px;" src="~/images/BellIcon.png" /></a>
                                        </li>
                                    }

                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Logout">Logout</a>
                                    </li>
                                }
                                else
                                {
                                    <li class="nav-item ml-auto">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Logout">Logout</a>
                                    </li>
                                }
                            }
                            else if (User.IsInRole(LMSEarlyBird.Data.UserRoles.Teacher))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Instructor" asp-action="CourseList">Courses</a>
                                </li>

                                <li class="nav-item ml-auto">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Logout">Logout</a>
                                </li>
                            }
                        } else {
                            
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>

  <footer class="border-top footer text-muted">
      <div class="container">
          &copy; 2024 - LMS Early Bird
      </div>
  </footer>
</html>
