@model LMSEarlyBird.Models.AppUser
@{
    ViewData["Title"] = "Home Page";

}

<div class="text-center">
    @if (User.Identity.IsAuthenticated)
    {
        <div class="text-center">
            <h1 class="display-4">
                Welcome @Model.FirstName
                @Model.LastName
            </h1>
        </div>

        <p>Go to your dashboard <a href="./User/Dashboard">Here</a></p>
    } else
    {
        <h1 class="display-4">
            Welcome, Please sign in.
        </h1>
    }
</div>
