<!DOCTYPE html>
<html>
<head>
    <title>Checkout canceled</title>
    @* <link rel="stylesheet" href="~/css/style.css"> *@
</head>
<body>
    <section>
        <p>Changed your mind about making a payment, feel free to come back when your ready!</p>
    </section>
    <form>
        <button asp-controller="Payment" asp-action="PaymentPage">Return</button>
    </form>
</body>
</html>