<head>
    <title>Payment Fail</title>
</head>
<body>
    <section>
        <p>This payment has failed due to already being processed.</p>
        <p>
            For any questions, please contact
            <a href="mailto:teamearlybirdcs3750@gmail.com">teamearlybirdcs3750@gmail.com</a>.
        </p>
        <form>
            <button asp-controller="User" asp-action="Dashboard">Return to your Dashboard</button>
        </form>
    </section>
</body>