@using LMSEarlyBird.ViewModels
@model EditProfileViewModel

@{
    ViewData["Title"] = "Profile";
}

<div class="row justify-content-center">
    <div class="col-md-6">
        <p>
            <h4>View or edit your profile</h4>
        </p>

        @if (TempData["Error"] != null)
        {
            <div class="col-md-12 alert alert-danger">
                <span><b>Sorry!</b> - @TempData["Error"] </span>
            </div>
        }

        <div class="row">
            <div class="col-md-10">
                <form asp-action="EditProfile" >
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <!--Hidden Models for Validation-->
                    <!-- Validated that this does work to pass Id's validation check-->
                    <input type="hidden" asp-for="ProfileId" />
                    <input type="hidden" asp-for="AddressId" /> 
                    <input type="hidden" asp-for="Address.User" />
                    <input type="hidden" asp-for="Address.UserID" />
 
                    <!--Models For Editing, Email is readonly-->
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" placeholder="Email" readonly />
                    </div>
                    <div class="form-group">
                        <label asp-for="FirstName" class="control-label"></label>
                        <input asp-for="FirstName" class="form-control" placeholder="FirstName" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="LastName" class="control-label"></label>
                        <input asp-for="LastName" class="form-control" placeholder="LastName" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Address.LineOne" class="control-label">Address Line One</label>
                        <input asp-for="Address.LineOne" class="form-control" />
                        <span asp-validation-for="Address.LineOne" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Address.LineTwo" class="control-label">Address Line Two</label>
                        <input asp-for="Address.LineTwo" class="form-control" />
                        <span asp-validation-for="Address.LineTwo" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Address.City" class="control-label"></label>
                        <input asp-for="Address.City" class="form-control" />
                        <span asp-validation-for="Address.City" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Address.State" class="control-label"></label>
                        <input asp-for="Address.State" class="form-control" />
                        <span asp-validation-for="Address.State" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Address.ZipCode" class="control-label"></label>
                        <input asp-for="Address.ZipCode" class="form-control" />
                        <span asp-validation-for="Address.ZipCode" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input class="btn btn-outline-success float-right" type="submit" value="Update Information" />
                        <a class="btn btn-outline-secondary" asp-controller="Profile" asp-action="DisplayProfile">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
