@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
	ViewData["Title"] = "Profile Picture";
}

<h4>Upload your profile picture</h4>
<hr/>
<form method="post" enctype="multipart/form-data" asp-controller="ProfilePicture" asp-action="ProfilePicture">
	@{
		var userId = User.GetUserId();
	}
	<img class="ProfileEdit"
		 src="~/images/ProfilePictures/@(userId)ProfilePicture.jpg"
		 onerror="this.src='/images/ProfilePictures/DefaultProfile.png';"
		 asp-append-version="true" />
	<br />
	<br />
	<div class="mb-3">
		<input class="form-control" type="file" name="imgfile" />
	</div>
	<input class="btn btn-primary"  type="submit" value="Submit" />
	<hr/>
	<h6>@ViewData["Message"]</h6>
</form>
